.card {
  &-container {
    @include responsive(PC) {
      &:hover {
        outline: 0.1rem solid $primary;
      }
    }

    cursor: pointer;

    &:last-child {
      border-bottom-right-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
    }

    &:not(:last-child) {
      border-bottom: 0.1rem solid $black50;
    }

    &-button {
      width: 100%;
    }
  }

  &-empty {
    padding: 1.6rem;
  }
}
