.card {
  width: 100%;
  background-color: $card-background;
  border-radius: 0.8rem;

  &-inner {
    @include column-flexbox(start, start, 0.8rem);

    width: 100%;
    padding: 1.2rem;
  }

  &-content {
    @include column-flexbox(start, start, 0.8rem);

    width: 100%;

    &-header {
      @include column-flexbox(start, start, 0.6rem);

      position: relative;
      width: 100%;

      &-category {
        @include flexbox($gap: 0.8rem);

        &-game {
          @include text-style(14, $gray20);
        }
      }

      &-kebab {
        position: absolute;
        z-index: $dropdown-level;
        top: 0;
        right: 0;
      }
    }

    &-title {
      @include text-style(18, $white);
    }

    &-location {
      @include flexbox($gap: 0.2rem);

      &-address {
        @include text-style(14, $gray20);
      }
    }
  }

  &-footer {
    @include flexbox(between, center, 0.2rem);

    position: relative;
    width: 100%;

    &-review {
      @include flexbox($gap: 0.4rem);

      &-count {
        @include text-style(12, $gray20);
      }
    }

    &-calendar {
      @include flexbox($gap: 0.4rem);

      &-date {
        @include text-style(14, $gray40);
      }
    }

    &-button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
