.card {
  position: relative;
  width: 100%;
  background-color: $card-background;
  border-radius: 0.8rem;

  &-inner {
    @include column-flexbox(start, start, 0.4rem);

    @include responsive(M) {
      gap: 0.8rem;
      padding: 1.2rem;
    }

    width: 100%;
    padding: 1.2rem;
    transition: $base-transition;

    &:hover {
      @include responsive(PC) {
        background-color: $black60;
        border-radius: 0.8rem;
      }
    }
  }

  &-content {
    @include column-flexbox(start, start, 0.4rem);

    @include responsive(M) {
      gap: 0.8rem;
    }

    width: 100%;

    &-header {
      @include column-flexbox(start, start, 0.4rem);

      position: relative;
      width: 100%;

      &-category {
        @include flexbox($gap: 0.8rem);

        &-game {
          @include text-style(14, $gray20);
        }
      }

      &-kebab {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &-title,
    &-register-title {
      @include text-style(16, $white, bold);

      @include responsive(M) {
        @include text-style(18, $white);
      }
    }

    &-register-title {
      padding-right: 4.8rem;
    }

    &-location {
      @include flexbox($gap: 0.2rem);

      padding-right: 0.8rem;

      &-address {
        @include text-style(12, $gray20);

        @include responsive(T) {
          overflow: hidden;
          width: 40rem;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        @include responsive(M) {
          width: 14rem;
        }
      }
    }
  }

  &-footer {
    @include flexbox(between, center, 0.2rem);

    position: relative;
    width: 100%;

    &-review {
      @include flexbox($gap: 0.4rem);

      &-rating {
        @include text-style(12, $gray20);

        width: 100%;
      }
    }

    &-calendar {
      @include flexbox($gap: 0.4rem);

      flex-shrink: 0;

      &-date {
        @include text-style(12, $gray20);
      }
    }
  }
}

.reserved-footer {
  @include responsive(M) {
    @include column-flexbox(start, start, 0.8rem);
  }
}
