%rec-base {
  content: '';

  position: absolute;
  left: 0;

  width: 100%;
  height: 0.6rem;

  border: 0.1rem solid $opacity-white-10;

  transition: $transition-2s;
}

%btn-arrow-base {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.6rem;

  &:hover {
    background-color: $opacity-white-5;
  }
}

.calender {
  width: 100%;
  background-color: $black70;
  border-radius: 0.6rem;

  &-header {
    @include flexbox(between);

    width: 100%;
    height: 5.2rem;
    padding: 0 1.6rem;
    border-bottom: 0.1rem solid $opacity-white-5;

    &-date {
      @include text-style(16, $white, bold);
    }

    &-control {
      @include flexbox($gap: 0.4rem);

      &-prev,
      &-next {
        @extend %btn-arrow-base;
      }
    }
  }

  .available-schedule {
    width: 100%;
    padding: 1.6rem 1rem;

    &-list {
      @include flexbox(start, start, 0.8rem);
    }

    &-item {
      position: relative;
      width: 5.2rem;
      background-color: $opacity-white-1;
      transition: $transition-2s;

      &::before {
        @extend %rec-base;

        top: 0;
        border-bottom: none;
      }

      &::after {
        @extend %rec-base;

        bottom: 0;
        border-top: none;
      }

      &.active {
        background: linear-gradient(180deg, rgb(18 18 18 / 0%) 0%, rgb(173 255 0 / 10%) 100%);
        box-shadow: 0 6px 12px 0 rgb(0 0 0 / 30%);
      }

      &.active::after,
      &.active::before {
        border-color: $primary;
      }

      &:hover:not(.active)::after,
      &:hover:not(.active)::before {
        border-color: $gray20;
      }

      &-day,
      &-times {
        @include flexbox;

        width: 100%;
        height: 4.2rem;
      }

      &-day {
        @include text-style(14, $gray10);

        position: relative;
        transition: $transition-2s;

        &::after {
          @include pos-center-x;

          content: '';

          bottom: 0;

          width: 4.2rem;
          height: 0.1rem;

          background-color: $opacity-white-5;
        }
      }

      &-times {
        @include text-style(14, $white, bold);

        transition: $transition-2s;
      }

      &.active .available-schedule-item-day,
      &:hover .available-schedule-item-day {
        color: $white;
      }

      &.active .available-schedule-item-times {
        color: $primary;
      }
    }
  }
}
