.container {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100vh;

  background: url('/pngs/landing-echo-background.png') no-repeat center/cover;
}

.echo {
  @include responsive(T) {
    right: 60%;
    transform: translateX(60%);
  }

  position: absolute;
  right: 0;

  aspect-ratio: 1.69 / 1;
  height: 100%;

  background: url('/pngs/landing-echo.png') no-repeat center/cover;

  animation: show-echo 1s ease-in-out forwards;
}

.echo-shadow {
  @include responsive(T) {
    right: 45%;
    transform: translateX(45%);
  }

  position: absolute;
  right: 10%;

  aspect-ratio: 1.69 / 1;
  height: 110%;

  background: url('/pngs/landing-echo-shadow.png') no-repeat center/cover;

  animation: show-echo-shadow 1s ease-in-out forwards;
}

.side-scroll {
  @include flexbox;

  @include responsive(M) {
    display: none;
  }

  position: absolute;
  top: 0;

  overflow: hidden;

  width: 6rem;

  writing-mode: vertical-rl;

  backdrop-filter: $landing-blur;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .scroll-content {
    @include text-style-quantico(24, $primary);
    @include flexbox(start, center, 6.8rem);

    white-space: nowrap;

    &.left {
      animation: text-loop-left 10s linear infinite;
    }

    &.right {
      animation: text-loop-right 10s linear infinite;
    }
  }
}

.landing-text {
  @include text-style-quantico(96);

  @include responsive(T) {
    font-size: 7.6rem;
  }

  @include responsive(M) {
    @include text-style-quantico(40);

    letter-spacing: -0.2rem;
  }

  position: absolute;
  letter-spacing: -0.48rem;

  &.main {
    @include responsive(T) {
      bottom: 38%;
    }

    @include responsive(M) {
      bottom: 32%;
    }

    bottom: 40%;
    color: $primary;
    animation: show-main-text 2s ease-in-out forwards;
  }

  &.sub-main {
    bottom: 26%;
    left: -50%;

    color: transparent;

    animation: show-sub-text 2s ease-in-out forwards;
    animation-delay: 1s;

    -webkit-text-stroke: 0.1rem $white;
  }
}

.button {
  &-start {
    @include text-style-quantico(24, $white);

    position: absolute;
    bottom: 15%;
    left: 54%;

    width: 18rem;
    height: 5.6rem;

    opacity: 0;
    background-image: url('/svgs/ic-button-border.svg');

    animation: button-start 1s ease-in-out forwards;
    animation-delay: 2.5s;

    &:hover {
      color: $primary;
      background-image: url('/svgs/ic-button-border-active.svg');

      .button-line {
        background-color: $primary;
      }
    }
  }

  &-line {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 5.6rem;
    height: 0.4rem;

    background-color: $white;
  }
}

@keyframes show-echo {
  0% {
    bottom: -10%;
    opacity: 0;
  }

  100% {
    bottom: -5%;
    opacity: 1;
  }
}

@keyframes show-echo-shadow {
  0% {
    bottom: -10%;
    opacity: 0;
  }

  50% {
    bottom: -10%;
    opacity: 0;
  }

  100% {
    bottom: -5%;
    opacity: 1;
  }
}

@keyframes text-loop-left {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes text-loop-right {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes show-main-text {
  0% {
    left: -50%;
    opacity: 0;
  }

  100% {
    left: 16%;
    opacity: 1;
  }
}

@keyframes show-sub-text {
  0% {
    left: -50%;
    opacity: 0;
  }

  100% {
    left: 12%;
    opacity: 1;
  }
}

@keyframes button-start {
  0% {
    bottom: 15%;
    opacity: 0;
  }

  100% {
    bottom: 20%;
    opacity: 1;
  }
}
