$dot-size: 0.1rem;

%frame-base {
  @include flexbox;

  position: relative;
  border-radius: 9.9rem;
}

.avatar {
  @extend %frame-base;

  border: 0.1rem solid $opacity-white-20;
}

.frame {
  &-outer {
    &-small {
      width: 4.2rem;
      height: 4.2rem;
    }

    &-medium {
      width: 5.6rem;
      height: 5.6rem;
    }

    &-large {
      width: 8rem;
      height: 8rem;
    }
  }

  &-inner {
    @extend %frame-base;

    overflow: hidden;
    background-color: $opacity-white-10;
    border: 0.1rem solid $white;

    &-activated {
      border-color: $primary;
    }

    &-small {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-medium {
      width: 4.2rem;
      height: 4.2rem;
    }

    &-large {
      width: 6.4rem;
      height: 6.4rem;
    }

    .profile-image {
      @include image-fit;
    }
  }
}

.dot {
  position: absolute;

  width: $dot-size;
  height: $dot-size;

  background-color: $white;
  border-radius: 50%;

  &-top {
    @include pos-center-x;

    top: -$dot-size;
  }

  &-right {
    @include pos-center-y;

    right: -$dot-size;
  }

  &-bottom {
    @include pos-center-x;

    bottom: -$dot-size;
  }

  &-left {
    @include pos-center-y;

    left: -$dot-size;
  }

  &-activated {
    background-color: $primary;
  }
}
