$dot-size: 0.1rem;

.outer-frame {
  @include flexbox;
  position: relative;
  border: 0.1rem solid $opacity-white-20;
  border-radius: 9.9rem;

  .inner-frame {
    @include flexbox;
    position: relative;
    background-color: $opacity-white-10;
    border: 0.1rem solid $white;
    border-radius: 9.9rem;

    &.isActivated {
      border-color: $primary;
    }
  }
}

.outer-small,
.inner-medium {
  width: 4.2rem;
  height: 4.2rem;
}

.outer-medium {
  width: 5.6rem;
  height: 5.6rem;
}

.outer-large {
  width: 8rem;
  height: 8rem;
}

.inner-small {
  width: 3.2rem;
  height: 3.2rem;
}

.inner-large {
  width: 6.4rem;
  height: 6.4rem;
}

.dot {
  position: absolute;
  width: $dot-size;
  height: $dot-size;
  background-color: $white;
  border-radius: 50%;
}

.top,
.bottom {
  left: 50%;
  transform: translateX(-50%);
}

.top {
  top: -$dot-size;
}

.bottom {
  bottom: -$dot-size;
}

.right,
.left {
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: -$dot-size;
}

.left {
  left: -$dot-size;
}

.isActivated {
  background-color: $primary;
}
