.review-form {
  &-header {
    @include column-flexbox(start, start, 0.4rem);
  }

  &-title {
    @include text-style(16, $gray10, bold);
  }

  &-date {
    @include flexbox($gap: 0.4rem);

    &-text {
      @include text-style(14, $gray40);
    }
  }

  &-rating {
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid $black60;
  }

  &-content {
    padding: 1.6rem 0;
  }

  &-buttons {
    @include flexbox($gap: 1.2rem);

    button {
      @include responsive(M) {
        flex-grow: 1;
      }
    }
  }
}
