// 카드 hover시 확장
@keyframes expand-card {
  from {
    width: 21.5rem;
  }

  to {
    width: 48.6rem;
  }
}

@keyframes shrink-card {
  from {
    width: 48.6rem;
  }

  to {
    width: 21.5rem;
  }
}

// 카드 내 게임 제목
@keyframes slidein-from-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.match-cards {
  @include flexbox($gap: 2.4rem);

  @include responsive(PC) {
    max-height: 46rem;
  }

  @include responsive(T) {
    flex-wrap: wrap;
  }

  @include responsive(M) {
    flex-flow: column nowrap;
  }

  max-width: 120rem;

  .card {
    @include responsive(PC) {
      animation: shrink-card 0.3s ease-out;
    }

    position: relative;

    display: block;

    width: 21.5rem;
    height: 46rem;

    background-color: $opacity-white-1;
    backdrop-filter: $popup-blur;

    // hover 상태일때
    &.active {
      @include responsive(PC) {
        animation: expand-card 0.3s ease-in-out forwards;
      }

      @include responsive(T) {
        min-width: 48.6rem;
        height: 46rem;
      }

      @include responsive(M) {
        min-width: 34.5rem;
        max-height: 32.8rem;
      }

      position: relative;

      &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        background: url('/pngs/card-gradient-yellow.png') no-repeat center/cover;
      }

      &::after {
        content: '';

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        background: url('/pngs/card-active-border.png') no-repeat center/cover;
      }
    }

    // 왼쪽 위 반쪽 border
    &-inner.active {
      &::before {
        content: '';

        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        display: block;

        width: 50%;
        height: 0.4rem;

        background: $primary;

        transition: $base-transition;
      }
    }

    // hover가 아닌 default일 때
    &-default-inner:not(.active) {
      // border
      &::before {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        background: url('/pngs/card-default-border.png') no-repeat center/cover;
      }

      // 검정 그라디언트
      &::after {
        content: '';

        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        background: url('/pngs/card-gradient-black.png') no-repeat center/cover;
      }
    }

    .img {
      @include image-fit(cover);
    }

    // 게임 제목
    .title {
      // default 일때
      &:not(.active) {
        @include text-style-quantico(20, rgb(255 255 255 / 70%), bold);

        @include pos-center-y;

        z-index: 10;
        left: 0;
        width: 100%;
      }

      // hover했을 때
      &.active {
        @include text-style-quantico(28, $white10, bold);

        @include responsive(M) {
          @include text-style-quantico(20);
        }

        position: absolute;
        right: 0;
        bottom: 0;

        display: inline-block;

        width: 100%;
        padding: 1.1rem 2.4rem 1.1rem 0;

        text-align: right;

        background: linear-gradient(90deg, rgb(173 255 0 / 0%) 15%, #90d400 80%);

        animation: slidein-from-right 0.3s ease-out forwards;
      }
    }
  }
}

// 삼각형
// .top-triangle {
//   &::after {
//     content: '';

//     position: absolute;
//     z-index: 1000;
//     top: -0.2rem;
//     right: -1rem;

//     // transform-origin: 0 0; /* 회전의 기준점을 왼쪽 상단 모서리로 설정 */
//     transform: rotate(45deg); /* 오른쪽으로 90도 회전 */

//     border-right: 1.3rem solid transparent;
//     border-bottom: 1.3rem solid $black; /* 삼각형의 높이 */
//     border-left: 1.3rem solid transparent;
//   }
// }
