$item-row: 5;
$item-column: 7;

.calendar-body {
  &-container {
    padding: 1.6rem;
  }

  &-week {
    @include flexbox;
  }

  &-day {
    @include text-style-quantico(16, $white, regular);
    @include flexbox;

    width: 15.4rem;
    height: 3.2rem;

    &.weekends {
      color: $gray20;
    }
  }

  &-dates {
    display: grid;
    grid-template-columns: repeat($item-column, 1fr);
    grid-template-rows: repeat($item-row, 1fr);
  }
}

.date-item {
  &:not(:nth-child(7n)) {
    border-right: 0.1rem solid $black50;
  }

  &:not(:nth-child(n):nth-child(-n + 7)) {
    border-top: 0.1rem solid $black50;
  }
}
