%rec-base {
  content: '';

  position: absolute;
  left: 0;

  width: 100%;
  height: 1.2rem;

  border: 0.1rem solid $primary;
}

.overlay {
  @include flexbox;

  position: fixed;
  z-index: $overlay-level;
  inset: 0;

  width: 100%;
  height: 100vh;

  background-color: $opacity-black-50;
}

.modal {
  position: relative;

  width: 34.5rem;
  max-height: 56rem;
  padding: 1.6rem;

  background: $modal-background;
  backdrop-filter: $modal-blur;
  outline: none;
  box-shadow: $modal-shadow;

  &::before {
    @extend %rec-base;

    top: 0;
    border-bottom: none;
  }

  &::after {
    @extend %rec-base;

    bottom: 0;
    border-top: none;
  }

  &-inner {
    @include column-flexbox($gap: 1.6rem);

    width: 100%;
  }

  &-header {
    width: 100%;

    &-title {
      @include text-style(16, $white, bold);
    }
  }

  &-content {
    width: 100%;
  }
}

.body-open {
  overflow: hidden;
}
