@keyframes bouncing-icon {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-1rem);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-1rem);
  }

  70% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.chatbot-toggle-btn {
  position: relative;

  &-icon {
    position: absolute;
    top: -1.4rem;
    left: 0.9rem;

    width: 3rem;
    height: 3rem;

    animation-delay: 1s;

    &-img {
      animation: bouncing-icon ease-in-out 4s infinite;

      &.activated {
        animation: none;
      }
    }
  }

  &-qwer {
    @include text-style-quantico(12, $primary);

    width: 4.8rem;
    height: 4.8rem;

    background-color: $black80;
    border: 0.1rem solid $primary;
    border-radius: 2.4rem;

    transition: $base-transition;

    &:hover {
      color: $black80;
      background-color: $primary;
    }
  }
}
