@keyframes fade-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.faq {
  &-chat {
    &-dialog-list {
      margin-top: 1.6rem;
    }

    &-list {
      @include column-flexbox(start, between, 1.6rem);
      @include text-style(14, $white);

      width: 100%;

      &-question {
        @include flexbox(end, end);

        text-align: start;

        &-description {
          @include text-style(14, $primary);

          max-width: 22rem;
          padding: 0.8rem 1.6rem;
          background-color: $black;
          border-radius: 0.8rem 0.8rem 0;
        }
      }

      &-answer {
        @include flexbox(start, start);

        animation: fade-up ease-in-out 1s;

        &-description {
          @include text-style(14, $white);

          max-width: 24rem;
          padding: 1.2rem;
          background-color: $opacity-white-10;
          border-radius: 0.8rem 0.8rem 0.8rem 0;
        }
      }
    }
  }

  &-visibility-button {
    @include text-style(12, $gray30);

    text-align: start;
    text-decoration: underline;
    transition: $base-transition;

    &:hover {
      color: $primary;
    }
  }
}
