.kebabmenu {
  position: relative;

  &-more-btn {
    text-align: right;
  }

  &-dropdown-list {
    @include column-flexbox($gap: 0.4rem);

    position: absolute;
    top: 3.6rem;
    right: 0;

    width: 12rem;
    padding: 0.8rem;

    background: $input-background;
    border: 0.1rem solid $input-stroke;
    border-radius: 0.6rem;

    &-li {
      @include text-style(16, $gray50);

      width: 100%;
      padding: 0.8rem;
      border-radius: 0.4rem;

      &:hover {
        color: $gray10;
        background: $black50;
      }

      &.delete {
        color: $red;
      }
    }
  }
}
