.profile-form {
  .input-group {
    @include column-flexbox(start, center, 2.4rem);

    width: 100%;
    padding: 3.2rem 0;
    border-bottom: 0.1rem solid $black;

    .inner-group {
      @include flexbox(between, start);

      @include responsive(M) {
        flex-direction: column;
        gap: 0.8rem;
      }

      width: 100%;

      .input-field {
        @include responsive(M) {
          width: 100%;
        }

        width: 45rem;
      }
    }
  }

  .btn-group {
    .sm-btn {
      width: 8.8rem;
      margin-left: auto;
      padding-top: 2.4rem;
      padding-bottom: 4.2rem;
    }

    .lg-btn {
      padding-bottom: 4.2rem;
    }
  }
}

.title {
  @include text-style(16, $white);
}

.hidden {
  display: none;
}
