%input-base {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.8rem;
  transition: $base-transition;
}

.input-field {
  position: relative;
  width: 100%;
  height: 9.8rem;

  &.non-label {
    height: 6.8rem;
  }

  &-label {
    @include text-style(14, $white);

    display: block;
    padding-bottom: 0.8rem;

    &.non-label {
      padding-bottom: 0;
    }
  }

  &-input-group {
    position: relative;

    &-input {
      @extend %input-base;

      @include text-style(16, $gray10);

      padding: 0 5.6rem 0 1.6rem;
      background-color: $input-background;
      border: 0.1rem solid $input-stroke;

      &::placeholder {
        @include text-style(16, $gray50);
      }

      &.error {
        border-color: $red;
      }

      &:focus {
        border-color: $purple;
      }

      &:disabled {
        @extend %input-base;

        cursor: not-allowed;
        padding: 0 1.6rem;
        background-color: $gray60;

        &::placeholder {
          @include text-style(16, $gray40);
        }
      }
    }

    &-eye-btn {
      @include pos-center-y;

      right: 1.6rem;
    }
  }

  &-err-msg {
    @include text-style(12, $red);

    position: absolute;
    bottom: 0;
  }
}
