.post-description {
  @include column-flexbox(center, start, 2.4rem);

  @include responsive(M) {
    gap: 1.6rem;
  }

  width: 100%;
  padding: 2.4rem 0;
  border-top: 0.1rem solid $black60;
  border-bottom: 0.1rem solid $black60;

  .description {
    @include text-style(14);
  }

  .discord-btn {
    @include responsive(M) {
      width: 100%;
    }

    overflow: hidden;

    height: 100%;
    padding: 0.8rem 1.2rem;

    background: $purple50;
    border-radius: 0.6rem;

    &-link {
      @include flexbox($gap: 1rem);

      width: 100%;

      .icon {
        @include flexbox;

        width: 2.8rem;
        height: 2.8rem;
        padding: 0.4rem;

        background: $purple50;
        border-radius: 0.8rem;
        box-shadow: $icon-shadow;
      }

      .link {
        @include text-style(14);

        width: 100%;
        text-align: left;
        white-space: wrap;
      }
    }
  }
}
