.header {
  @include flexbox(between);

  @include responsive(T) {
    padding: 1rem 1.6rem;
    border-radius: 0;
  }

  @include responsive(M) {
    position: relative;
    padding: 0.7rem 1.5rem;
  }

  position: relative;

  max-width: 144rem;
  padding: 1rem 4rem;

  background: $opacity-white-10;
  backdrop-filter: $header-blur;
  border-radius: 9.9rem;

  &-logo {
    @include text-style-quantico(32);

    line-height: 4rem;

    &-mobile-size {
      @include pos-center-x;
    }
  }

  &-container {
    &-outer {
      @include flexbox($gap: 3.2rem);

      @include responsive(T) {
        gap: 0.8rem;
      }
    }

    &-inner {
      @include flexbox($gap: 0.8rem);
    }
  }

  &-alarm-list,
  &-user-menu {
    @include responsive(T) {
      right: 1.5rem;
    }

    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.8rem;
  }

  &-menu-button {
    width: 3.2rem;
    height: 3.2rem;
  }

  &-drawer-menu {
    position: absolute;
    top: 0;
    left: 0;
  }
}
