.drawer-menu {
  @include column-flexbox(start, start, 1.2rem);

  height: 100vh;
  padding: 1.2rem 1.5rem;

  background-color: $opacity-white-10;
  backdrop-filter: $drawer-blur;

  @keyframes fade-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  animation: fade-in-left ease-in-out 0.3s;

  &-close-button {
    align-self: start;
    width: 3.2rem;
    height: 3.2rem;
  }

  &-game {
    @include column-flexbox($gap: 1.6rem);

    &-item {
      width: 28rem;
      border-bottom: 1px solid $opacity-white-10;
    }

    &-link {
      @include flexbox;
      @include text-style(18, $weight: bold);

      height: 4.2rem;
    }
  }
}
