.btn {
  @include inline-flexbox;

  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid $black50;
  border-radius: 0.4rem;

  &-icon {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
  }
}
