.btn-more {
  @include inline-flexbox;

  @include responsive(PC) {
    &:hover {
      border-color: $primary;
    }
  }

  width: 3.2rem;
  height: 3.2rem;

  border: 0.1rem solid $black50;
  border-radius: 0.4rem;

  transition: $base-transition;

  &[aria-pressed='true'] {
    border-color: $primary;
  }
}
