%btn-base {
  @include inline-flexbox;

  @include responsive(M) {
    width: 100%;
  }

  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
}

.btn-operation {
  &-add {
    @extend %btn-base;

    background-color: $purple;

    &:disabled {
      background-color: $gray60;
    }
  }

  &-remove {
    @extend %btn-base;

    border: 0.1rem solid $gray60;
  }
}
