$popup-blur: blur(16px);
$modal-blur: blur(60px);
$profile-blur: blur(6px);
$header-blur: blur(32px);
$alarm-blur: blur(80px);
$drawer-blur: blur(60px);
$input-blur: blur(20px);
$confirm-schedule-blur: blur(32px);
$landing-blur: blur(12px);
