$primary: #adff00;
$purple: #852dff;
$dark-purple: #411380;
$blue: #406aff;
$skyblue: #37e8b4;
$yellow: #ffe03b;
$orange: #ff862e;
$red: #ff2e00;
$gray60: #2c2c2c;
$gray50: #333;
$gray40: #444;
$gray30: #6b6b6b;
$gray20: #888;
$gray10: #acacac;
$white: #eee;
$black: #0a0a0a;
$black90: #0d0d0d;
$black80: #121212;
$black70: #141414;
$black60: #1b1b1b;
$black50: #1d1d1d;
$opacity-white-1: rgb(255 255 255 / 1%);
$opacity-white-5: rgb(255 255 255 / 5%);
$opacity-white-10: rgb(255 255 255 / 10%);
$opacity-white-20: rgb(255 255 255 / 20%);
$opacity-black-50: rgb(0 0 0 / 50%);

// Specific color
$nav-background: $opacity-white-10;
$modal-background: $opacity-white-1;
$card-background: $black70;
$tag-background: $opacity-white-5;
$input-background: $black70;
$input-stroke: $black60;
