$glitch-2-level: -2;
$glitch-1-level: -1;
$chatbot-level: 4;
$kebab-level: 5;
$dropdown-level: 10;
$calendar-level: 10;
$nav-level: 50;
$popup-level: 60;
$reservation-panel-level: 70;
$confirm-schedule-button-level: 80;
$modal-level: 900;
$overlay-level: 999;
