$font-main:
  'Pretendard Variable',
  pretendard,
  -apple-system,
  blinkmacsystemfont,
  system-ui,
  roboto,
  'Helvetica Neue',
  'Segoe UI',
  'Apple SD Gothic Neo',
  'Noto Sans KR',
  'Malgun Gothic',
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  sans-serif;
$font-quantico: 'Quantico', quantico, sans-serif;
$browser-font-size: 62.5%;
$font-size-10: 1rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-28: 2.8rem;
$font-size-32: 3.2rem;
$font-size-40: 4rem;
$font-size-48: 4.8rem;
$font-size-60: 6rem;
$font-size-96: 9.6rem;
