.filter {
  @include flexbox(start, center, 1.2rem);

  @include responsive(M) {
    @include no-scrollbar;

    overflow-x: auto;
    gap: 0.8rem;
  }

  &-item {
    @include text-style(14, $gray40);

    height: 4rem;
    padding: 0 1.6rem;

    white-space: nowrap;

    border-radius: 9.9rem;
    outline: 0.1rem solid $black60;

    transition: $base-transition;

    &:hover {
      @include text-style(14, $white, bold);

      outline: 0.1rem solid $primary;
    }

    &.activated {
      @include text-style(14, $black80, bold);

      background-color: $primary;
      outline: none;
    }
  }
}
