.filter {
  @include flexbox(start, center, 1.2rem);

  @include responsive(M) {
    @include no-scrollbar;

    overflow-x: auto;
    gap: 0.8rem;
  }

  &-item {
    @include text-style(14, $gray20);

    @include responsive(PC) {
      &:hover {
        @include text-style(14, $white, bold);

        box-shadow: 0 0 0 0.1rem $primary inset;
      }
    }

    height: 4rem;
    padding: 0 1.6rem;

    white-space: nowrap;

    border-radius: 9.9rem;
    box-shadow: 0 0 0 0.1rem $black60 inset;

    transition: $base-transition;

    &.activated {
      @include text-style(14, $black80, bold);

      background-color: $primary;
      box-shadow: none;
    }
  }
}
