$dot-size: 0.1rem;

%frame-base {
  @include flexbox;

  position: relative;
  border-radius: 9.9rem;
}

.frame {
  &-outer {
    @extend %frame-base;

    width: 4.2rem;
    height: 4.2rem;
    border: 0.1rem solid $opacity-white-20;
  }

  &-inner {
    @extend %frame-base;

    width: 3.2rem;
    height: 3.2rem;
    background-color: $opacity-white-10;
    border: 0.1rem solid $white;

    &-activated {
      border-color: $primary;
    }
  }
}

.dot {
  position: absolute;

  width: $dot-size;
  height: $dot-size;

  background-color: $white;
  border-radius: 50%;

  &-top {
    @include pos-center-x;

    top: -$dot-size;
  }

  &-right {
    @include pos-center-y;

    right: -$dot-size;
  }

  &-bottom {
    @include pos-center-x;

    bottom: -$dot-size;
  }

  &-left {
    @include pos-center-y;

    left: -$dot-size;
  }

  &-activated {
    background-color: $primary;
  }
}
