.recruitment {
  @include responsive(M) {
    padding: 6rem 3rem;
  }

  width: 100%;
  margin-top: 20rem;
  padding: 6rem 0;
  background-color: $purple40;

  &-container {
    @include column-flexbox($gap: 3.2rem);

    &-inner {
      @include column-flexbox($gap: 2.4rem);

      @include responsive(M) {
        word-break: keep-all;
      }
    }
  }

  &-heading {
    @include text-style(60, $white10);

    @include responsive(M) {
      font-size: 4rem;
    }

    text-align: center;
  }

  &-paragraph {
    @include text-style(32, $gray20);

    @include responsive(M) {
      font-size: 2.4rem;
    }

    font-weight: 500;
    line-height: 4.8rem;
    text-align: center;
  }

  &-creator {
    @include text-style(32, $white10);

    @include responsive(M) {
      font-size: 2.4rem;
    }

    font-weight: 600;
    line-height: 4.8rem;
  }

  &-button {
    @include text-style(24, $white10, bold);

    position: relative;

    width: 18rem;
    height: 5.6rem;

    line-height: 3.6rem;
    text-align: center;

    background-image: url('/svgs/ic-button-border.svg');

    &:hover {
      color: $purple30;
      background: linear-gradient(-45deg, transparent 15px, $white10 0),
        linear-gradient(45deg, transparent 15px, $white10 0);
      border: 0.5rem solid $purple30;
      transition: $base-transition;

      .line {
        border-color: $white10;
      }
    }

    .line {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 5.6rem;

      border: 0.2rem solid $white10;
    }
  }
}
