.container {
  width: 100%;
  height: 100%;

  .mypage {
    @include responsive(M) {
      max-width: 100%;
      padding: 8.8rem 1.5rem 4.8rem;
    }

    max-width: 70.8rem;
    margin: 0 auto;
    padding: 13.4rem 0 12rem;

    &-main-title {
      @include text-style(20, $white, bold);

      @include responsive(M) {
        @include text-style(18, $white, bold);
      }

      width: 100%;
      padding-bottom: 0.8rem;
      border-bottom: 0.1rem solid $white;
    }
  }
}
