%tag-base {
  @include flexbox;
  @include text-style(12, $black50, bold);

  width: 7.2rem;
  height: 2.2rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
}

.tag-offline {
  @extend %tag-base;

  background-color: $primary;
}

.tag-online {
  @extend %tag-base;

  color: $primary;
  background-color: $black;
}
