.landing-match {
  @include responsive(T) {
    height: 100%;
  }

  @include responsive(PC) {
    &.lol {
      background: url('/pngs/landing-card-background-LOL.avif') no-repeat scroll border-box;
      background-position: top 12.6rem left -6rem;
      background-size: 79.5rem 82.8rem;
    }

    &.bg {
      background: url('/pngs/landing-card-background-BG.avif') no-repeat scroll border-box;
      background-position: top 12.6rem right 6rem;
      background-size: 70.5rem 90.4rem;
    }

    &.ow {
      background: url('/pngs/landing-card-background-OW.avif') no-repeat scroll border-box;
      background-position: top 12.6rem left -13rem;
      background-size: 124.9rem 95.4rem;
    }

    &.mc {
      background: url('/pngs/landing-card-background-MC.avif') no-repeat scroll border-box;
      background-position: top 29.1rem right 6rem;
      background-size: 49.6rem 73.5rem;
    }
  }

  width: 100%;
  height: 108rem;

  .container {
    @include responsive(T) {
      max-width: 100%;
      padding: 10.2rem 0;
    }

    @include responsive(M) {
      padding: 6.4rem 0;
    }

    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    padding: 14.4rem 0;
  }

  .match-header {
    @include column-flexbox($gap: 2.4rem);

    @include responsive(M) {
      gap: 1.2rem;
    }

    margin-bottom: 6.4rem;

    &-title {
      @include text-style-quantico(40, $primary);

      @include responsive(M) {
        @include text-style-quantico(32);
      }
    }

    &-paragraph {
      @include text-style(24, $gray70);

      @include responsive(M) {
        font-size: $font-size-16;
        line-height: 2.4rem;
      }

      text-align: center;

      .highlight-white {
        font-weight: 600;
        color: $white10;
      }

      .highlight-yellow {
        font-weight: 600;
        color: $primary;
      }
    }
  }
}
