@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.header {
  @include flexbox(between);

  @include responsive(T) {
    top: 0;
    padding: 1rem 1.6rem;
    border-radius: 0;
  }

  @include responsive(M) {
    padding: 0.7rem 1.5rem;
  }

  position: fixed;
  z-index: $nav-level;
  top: 1.6rem;

  width: 100%;
  max-width: 144rem;
  padding: 1rem 4rem;

  background: $opacity-white-10;
  backdrop-filter: $header-blur;
  border-radius: 9.9rem;

  &-logo {
    @include text-style-quantico(32);

    line-height: 4rem;

    &-mobile-size {
      @include pos-center-x;
    }
  }

  &-container {
    &-outer {
      @include flexbox($gap: 3.2rem);

      @include responsive(T) {
        gap: 0.8rem;
      }
    }

    &-inner {
      @include flexbox($gap: 0.8rem);
    }
  }

  &-alarm-list,
  &-user-menu {
    @include responsive(T) {
      right: 1.5rem;
    }

    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.8rem;
  }

  &-menu-button {
    width: 3.2rem;
    height: 3.2rem;
  }

  &-drawer-menu {
    position: absolute;
    z-index: $popup-level;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
      animation: slide-in-left ease-in-out 0.3s;
    }

    &.close {
      transform: translateX(-100%);
      animation: slide-out-left ease-in-out 0.3s;
    }
  }
}
