@mixin no-scrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin thick-scrollbar() {
  &::-webkit-scrollbar-thumb {
    background-color: $gray60;
    border: 1.2rem solid $black70;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 3rem;
  }
}

@mixin thin-scrollbar() {
  &::-webkit-scrollbar-thumb {
    background-color: $gray60;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
