@import 'https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap';

.quantico-regular {
  font-family: Quantico, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: Quantico, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold {
  font-family: Quantico, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-bold-italic {
  font-family: Quantico, sans-serif;
  font-weight: 700;
  font-style: italic;
}
